<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_sip_domain_RefSkemaPenelitian" object="${refskemapenelitian}" path="/refskemapenelitians" z="E6QD64TyTA6fjzLoTNsjp1UlkDQ=">
        <field:display field="idPenyandangDana" id="s_com_sip_domain_RefSkemaPenelitian_idPenyandangDana" object="${refskemapenelitian}" z="1qQ+dD5mo76bdGtoFTFEQ6qZg4Y="/>
        <field:display field="skemaPenelitian" id="s_com_sip_domain_RefSkemaPenelitian_skemaPenelitian" object="${refskemapenelitian}" z="b5D8Z2FWm8gHN02ZOxmrY2gWF9k="/>
        <field:display field="subSkema" id="s_com_sip_domain_RefSkemaPenelitian_subSkema" object="${refskemapenelitian}" z="v5ryWwMUu1pfkCMqUogH1KIK6LU="/>
        <field:display field="durasiMin" id="s_com_sip_domain_RefSkemaPenelitian_durasiMin" object="${refskemapenelitian}" z="3HxVXA76A4G4emtpcfcLYSkilZw="/>
        <field:display field="durasiMaks" id="s_com_sip_domain_RefSkemaPenelitian_durasiMaks" object="${refskemapenelitian}" z="6VQpZVhjfjCXuanqQAnBG3+pQ/Q="/>
        <field:display field="biayaMin" id="s_com_sip_domain_RefSkemaPenelitian_biayaMin" object="${refskemapenelitian}" z="JzIBiivrwyp9ZoDjrk3SoDdMdaw="/>
        <field:display field="biayaMaks" id="s_com_sip_domain_RefSkemaPenelitian_biayaMaks" object="${refskemapenelitian}" z="/fhnDjTsIhEbGxWPP468Ir3tlv8="/>
    </page:show>
</div>
