<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_sip_domain_RefLuaran" modelAttribute="refLuaran" path="/refluarans" render="${empty dependencies}" z="T67kSERYFgmxWrCxsBd4FPKpCNE=">
        <field:simple field="luaranPenelitians" id="c_com_sip_domain_RefLuaran_luaranPenelitians" messageCode="entity_reference_not_managed" messageCodeAttribute="Luaran Penelitian" z="1XQvRhtCh3XQGJwlqt86OLezsuk="/>
        <field:input field="luaran" id="c_com_sip_domain_RefLuaran_luaran" required="true" z="UfYME1dlV+GdD84irfsOcIHc75Q="/>
        <field:input field="deskripsi" id="c_com_sip_domain_RefLuaran_deskripsi" z="RY/Rn5bD1m2yM4VoGYbsMlWvuEQ="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_sip_domain_RefLuaran" render="${not empty dependencies}" z="gLvTl/ParQVJjPS7gAA0PS6ZUWI="/>
</div>
