<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/datatables" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_sip_domain_RefLuaran" object="${refluaran}" path="/refluarans" z="k3oEVv4dutOVa/MR9vXIK81YAtE=">
        <field:display field="luaran" id="s_com_sip_domain_RefLuaran_luaran" object="${refluaran}" z="EzO0R31m9VLDQCOcAUuZnQ8Ldg4="/>
        <field:display field="deskripsi" id="s_com_sip_domain_RefLuaran_deskripsi" object="${refluaran}" z="AcSKWZt1LNtbPOgiOaZ7oArs9KI="/>
    </page:show>
</div>
