<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_sip_domain_RefLuaran" idField="idLuaran" modelAttribute="refLuaran" path="/refluarans" versionField="none" z="1iKIQm/w84PAiS5g22a/iEP0yr4=">
        <field:simple field="luaranPenelitians" id="c_com_sip_domain_RefLuaran_luaranPenelitians" messageCode="entity_reference_not_managed" messageCodeAttribute="Luaran Penelitian" z="1XQvRhtCh3XQGJwlqt86OLezsuk="/>
        <field:input field="luaran" id="c_com_sip_domain_RefLuaran_luaran" required="true" z="UfYME1dlV+GdD84irfsOcIHc75Q="/>
        <field:input field="deskripsi" id="c_com_sip_domain_RefLuaran_deskripsi" z="RY/Rn5bD1m2yM4VoGYbsMlWvuEQ="/>
    </form:update>
</div>
